.errorPage {
  text-align: center;
  margin: 100px;
}

.errorPage h1 {
  font-size: 50px;
  color: #1b53eb;
}

.errorPage p {
  font-size: 20px;
  color: #666666;
  margin-bottom: 20px;
}

.errorPage a {
  font-size: 16px;
  color: #0066cc;
  text-decoration: none;
}
